#forms{

    padding: 20px;
    border: 1px solid;
    margin: 0 auto; 
    
    margin-left: 30%;
    margin-right: 20%;
    margin-bottom: 30%;
    text-align: center;
    }
    #button{
    padding: 10px;
    border-radius: 5px 0px 5px 0px;
    background-color: blue;
    color: aliceblue;
    margin: 5% 0% 5% 0%;
    
    
    }
    
    